--
-- PostgreSQL database dump
--

\restrict ZR7ntWjbVb7gMiqlwZU8Wlxs2pcVWRtjfe9PgDlopGHK2nIPCZ39CcOLDBY7ELs

-- Dumped from database version 16.13
-- Dumped by pg_dump version 16.13

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: doc_type_enum; Type: TYPE; Schema: public; Owner: -
--

CREATE TYPE public.doc_type_enum AS ENUM (
    'sale_invoice',
    'purchase_order',
    'shift_report',
    'inventory_report',
    'other',
    'quotation',
    'dispatch_order',
    'goods_receipt',
    'stock_request',
    'shift_handover',
    'purchase_invoice',
    'safe_deposit'
);


--
-- Name: drawer_tx_type_enum; Type: TYPE; Schema: public; Owner: -
--

CREATE TYPE public.drawer_tx_type_enum AS ENUM (
    'sale',
    'return_',
    'expense',
    'deposit',
    'withdrawal'
);


--
-- Name: movement_type_enum; Type: TYPE; Schema: public; Owner: -
--

CREATE TYPE public.movement_type_enum AS ENUM (
    'opening_stock',
    'purchase',
    'return_in',
    'adjustment_in',
    'transfer_in',
    'sale',
    'damage',
    'adjustment_out',
    'transfer_out'
);


--
-- Name: po_status_enum; Type: TYPE; Schema: public; Owner: -
--

CREATE TYPE public.po_status_enum AS ENUM (
    'draft',
    'received',
    'partial',
    'cancelled'
);


--
-- Name: sale_mode_enum; Type: TYPE; Schema: public; Owner: -
--

CREATE TYPE public.sale_mode_enum AS ENUM (
    'retail',
    'wholesale'
);


--
-- Name: sale_status_enum; Type: TYPE; Schema: public; Owner: -
--

CREATE TYPE public.sale_status_enum AS ENUM (
    'draft',
    'confirmed',
    'returned',
    'cancelled',
    'quotation'
);


--
-- Name: shift_status_enum; Type: TYPE; Schema: public; Owner: -
--

CREATE TYPE public.shift_status_enum AS ENUM (
    'open',
    'closed'
);


SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: archived_documents; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.archived_documents (
    id uuid NOT NULL,
    doc_number character varying(64) NOT NULL,
    doc_type public.doc_type_enum NOT NULL,
    customer_name character varying(128),
    amount numeric(12,2),
    file_path character varying(512),
    storage_key character varying(512),
    metadata jsonb,
    ref_id uuid,
    created_by uuid,
    created_at timestamp with time zone DEFAULT now() NOT NULL
);


--
-- Name: audit_log; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.audit_log (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    entity_type text NOT NULL,
    entity_id uuid,
    action text NOT NULL,
    user_id uuid,
    user_name text,
    changes jsonb,
    note text,
    created_at timestamp with time zone DEFAULT now()
);


--
-- Name: categories; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.categories (
    id uuid NOT NULL,
    name character varying(128) NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL
);


--
-- Name: collection_items; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.collection_items (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    collection_id uuid NOT NULL,
    product_id uuid NOT NULL,
    qty numeric(12,3) DEFAULT 1 NOT NULL
);


--
-- Name: customer_payments; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.customer_payments (
    id uuid NOT NULL,
    customer_id uuid NOT NULL,
    amount numeric(12,2) NOT NULL,
    note text,
    created_by uuid,
    created_at timestamp with time zone DEFAULT now() NOT NULL
);


--
-- Name: customers; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.customers (
    id uuid NOT NULL,
    name character varying(128) NOT NULL,
    phone character varying(32),
    address text,
    is_cash boolean NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    balance numeric(14,2) DEFAULT 0 NOT NULL
);


--
-- Name: dispatch_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.dispatch_seq
    START WITH 1000
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: drawer_transactions; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.drawer_transactions (
    id uuid NOT NULL,
    shift_id uuid NOT NULL,
    type public.drawer_tx_type_enum NOT NULL,
    amount numeric(12,2) NOT NULL,
    ref_id uuid,
    note text,
    created_by uuid,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    category_id uuid,
    payment_method text DEFAULT 'cash'::text,
    wallet_id uuid
);


--
-- Name: employees; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.employees (
    id uuid NOT NULL,
    user_id uuid,
    full_name character varying(128) NOT NULL,
    national_id character varying(32),
    phone character varying(32),
    base_salary numeric(12,2) NOT NULL,
    hire_date date NOT NULL,
    is_active boolean NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL
);


--
-- Name: financial_categories; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.financial_categories (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    name character varying(128) NOT NULL,
    type character varying(16) DEFAULT 'expense'::character varying NOT NULL,
    color character varying(16) DEFAULT '#64748b'::character varying,
    created_at timestamp with time zone DEFAULT now() NOT NULL
);


--
-- Name: hr_advances; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.hr_advances (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    employee_id uuid NOT NULL,
    amount numeric(12,2) NOT NULL,
    date date DEFAULT CURRENT_DATE NOT NULL,
    note text,
    created_by uuid,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    record_type character varying(16) DEFAULT '╪│┘┘╪ر'::character varying
);


--
-- Name: hr_attendance; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.hr_attendance (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    employee_id uuid NOT NULL,
    work_date date NOT NULL,
    check_in timestamp with time zone,
    check_out timestamp with time zone,
    status character varying(16) DEFAULT 'present'::character varying,
    notes text,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    edited boolean DEFAULT false,
    edited_by character varying(128),
    edit_reason text,
    excuse_no_late boolean DEFAULT false,
    excuse_no_early boolean DEFAULT false,
    excuse_allow_overtime boolean DEFAULT false,
    shift_override character varying(32)
);


--
-- Name: hr_audit_log; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.hr_audit_log (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    action_type character varying(32) NOT NULL,
    entity_type character varying(32) NOT NULL,
    entity_id character varying(64),
    performed_by uuid,
    reason text,
    details jsonb,
    created_at timestamp with time zone DEFAULT now() NOT NULL
);


--
-- Name: hr_employees; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.hr_employees (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    user_id uuid,
    emp_code character varying(32),
    name character varying(128) NOT NULL,
    "position" character varying(64),
    monthly_salary numeric(12,2) DEFAULT 0 NOT NULL,
    shift_schedule character varying(64),
    hire_date date,
    is_active boolean DEFAULT true NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    shift_id character varying(32),
    max_lateness_before_overtime_cancellation integer DEFAULT 30,
    ignore_lateness boolean DEFAULT false
);


--
-- Name: hr_payroll; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.hr_payroll (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    employee_id uuid NOT NULL,
    month character varying(7) NOT NULL,
    base_salary numeric(12,2) NOT NULL,
    working_days smallint DEFAULT 0,
    absent_days smallint DEFAULT 0,
    overtime_hours numeric(6,2) DEFAULT 0,
    overtime_pay numeric(12,2) DEFAULT 0,
    bonus numeric(12,2) DEFAULT 0,
    deductions numeric(12,2) DEFAULT 0,
    advances numeric(12,2) DEFAULT 0,
    drawer_variance numeric(12,2) DEFAULT 0,
    net_salary numeric(12,2) DEFAULT 0 NOT NULL,
    status character varying(16) DEFAULT 'draft'::character varying,
    notes text,
    created_by uuid,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    actual_working_days smallint DEFAULT 0,
    vacation_days smallint DEFAULT 0,
    total_hours numeric(8,2) DEFAULT 0,
    lateness_minutes integer DEFAULT 0,
    early_leave_minutes integer DEFAULT 0,
    missing_scan_minutes integer DEFAULT 0,
    lateness_deduction numeric(12,2) DEFAULT 0,
    bonus_days smallint DEFAULT 0,
    bonus_payment numeric(12,2) DEFAULT 0,
    hourly_rate numeric(10,4) DEFAULT 0,
    daily_breakdown jsonb
);


--
-- Name: hr_settings; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.hr_settings (
    key character varying(64) NOT NULL,
    value text NOT NULL
);


--
-- Name: hr_shifts; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.hr_shifts (
    id character varying(32) NOT NULL,
    name character varying(128) NOT NULL,
    start_time character varying(8) NOT NULL,
    end_time character varying(8) NOT NULL,
    description text DEFAULT ''::text
);


--
-- Name: hr_sync_log; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.hr_sync_log (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    synced_at timestamp with time zone DEFAULT now(),
    status text NOT NULL,
    fetched integer DEFAULT 0,
    added integer DEFAULT 0,
    updated integer DEFAULT 0,
    message text
);


--
-- Name: invoice_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.invoice_seq
    START WITH 1000
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: payment_wallets; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.payment_wallets (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    name text NOT NULL,
    type text NOT NULL,
    phone text,
    balance numeric(14,2) DEFAULT 0 NOT NULL,
    is_active boolean DEFAULT true NOT NULL,
    created_at timestamp with time zone DEFAULT now(),
    CONSTRAINT payment_wallets_type_check CHECK ((type = ANY (ARRAY['vodafone_cash'::text, 'instapay'::text, 'cash'::text])))
);


--
-- Name: payroll_entries; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.payroll_entries (
    id uuid NOT NULL,
    period_id uuid NOT NULL,
    employee_id uuid NOT NULL,
    base_salary numeric(12,2) NOT NULL,
    bonuses numeric(12,2) NOT NULL,
    deductions numeric(12,2) NOT NULL,
    notes text
);


--
-- Name: payroll_periods; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.payroll_periods (
    id uuid NOT NULL,
    month smallint NOT NULL,
    year smallint NOT NULL,
    status character varying(16) NOT NULL,
    created_by uuid,
    created_at timestamp with time zone DEFAULT now() NOT NULL
);


--
-- Name: product_collections; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.product_collections (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    name text NOT NULL,
    description text,
    retail_price numeric(12,2) DEFAULT 0,
    wholesale_price numeric(12,2) DEFAULT 0,
    is_active boolean DEFAULT true,
    created_at timestamp with time zone DEFAULT now()
);


--
-- Name: products; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.products (
    id uuid NOT NULL,
    subcategory_id uuid NOT NULL,
    name character varying(256) NOT NULL,
    barcode character varying(64),
    unit character varying(32) NOT NULL,
    retail_price numeric(12,2) NOT NULL,
    wholesale_price numeric(12,2) NOT NULL,
    cost_price numeric(12,2) NOT NULL,
    company character varying(128),
    size character varying(64),
    type character varying(64),
    material character varying(64),
    image_url character varying(512),
    is_active boolean NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL,
    reorder_point numeric(12,3) DEFAULT 0,
    reorder_qty numeric(12,3) DEFAULT 0,
    stock_status text DEFAULT 'tracked'::text NOT NULL,
    CONSTRAINT products_stock_status_check CHECK ((stock_status = ANY (ARRAY['tracked'::text, 'untracked'::text])))
);


--
-- Name: purchase_order_items; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.purchase_order_items (
    id uuid NOT NULL,
    po_id uuid NOT NULL,
    product_id uuid NOT NULL,
    qty_ordered numeric(12,3) NOT NULL,
    qty_received numeric(12,3) NOT NULL,
    unit_cost numeric(12,2) NOT NULL,
    notes text
);


--
-- Name: purchase_orders; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.purchase_orders (
    id uuid NOT NULL,
    po_number character varying(32) NOT NULL,
    supplier_id uuid,
    warehouse_id uuid NOT NULL,
    created_by uuid NOT NULL,
    status public.po_status_enum NOT NULL,
    notes text,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    received_at timestamp with time zone,
    amount_paid numeric(14,2) DEFAULT 0,
    received_by_name text,
    invoice_image_url text
);


--
-- Name: purchase_price_history; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.purchase_price_history (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    product_id uuid NOT NULL,
    po_id uuid,
    supplier_id uuid,
    old_cost numeric(12,2),
    new_cost numeric(12,2) NOT NULL,
    created_at timestamp with time zone DEFAULT now()
);


--
-- Name: purchase_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.purchase_seq
    START WITH 1000
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: quotation_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.quotation_seq
    START WITH 1000
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: safe_deposits; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.safe_deposits (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    safe_id uuid NOT NULL,
    shift_id uuid,
    warehouse_id uuid,
    amount numeric(14,2) NOT NULL,
    received_by uuid,
    received_by_name text,
    deposited_by uuid,
    deposited_by_name text,
    notes text,
    doc_number text,
    created_at timestamp with time zone DEFAULT now()
);


--
-- Name: safe_transactions; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.safe_transactions (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    safe_id uuid NOT NULL,
    tx_type text NOT NULL,
    amount numeric(14,2) NOT NULL,
    balance_after numeric(14,2) NOT NULL,
    note text,
    created_by uuid,
    created_at timestamp with time zone DEFAULT now(),
    CONSTRAINT safe_transactions_tx_type_check CHECK ((tx_type = ANY (ARRAY['deposit'::text, 'withdraw'::text])))
);


--
-- Name: safes; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.safes (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    name text NOT NULL,
    location text,
    balance numeric(14,2) DEFAULT 0 NOT NULL,
    is_active boolean DEFAULT true NOT NULL,
    created_at timestamp with time zone DEFAULT now(),
    safe_type text DEFAULT 'permanent'::text NOT NULL
);


--
-- Name: sale_items; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.sale_items (
    id uuid NOT NULL,
    sale_id uuid NOT NULL,
    product_id uuid NOT NULL,
    qty numeric(12,3) NOT NULL,
    unit_price numeric(12,2) NOT NULL,
    unit_cost numeric(12,2) NOT NULL,
    discount numeric(12,2) NOT NULL
);


--
-- Name: sales; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.sales (
    id uuid NOT NULL,
    invoice_number character varying(32) NOT NULL,
    customer_id uuid,
    warehouse_id uuid NOT NULL,
    cashier_id uuid NOT NULL,
    shift_id uuid,
    sale_mode public.sale_mode_enum NOT NULL,
    status public.sale_status_enum NOT NULL,
    discount_amount numeric(12,2) NOT NULL,
    notes text,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    is_credit boolean DEFAULT false NOT NULL,
    created_by uuid,
    payment_method text DEFAULT 'cash'::text,
    wallet_id uuid
);


--
-- Name: shifts; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.shifts (
    id uuid NOT NULL,
    cashier_id uuid,
    status public.shift_status_enum NOT NULL,
    initial_amount numeric(12,2) NOT NULL,
    closing_balance numeric(12,2),
    next_day_drawer numeric(12,2),
    closed_by uuid,
    notes text,
    started_at timestamp with time zone DEFAULT now() NOT NULL,
    closed_at timestamp with time zone,
    warehouse_id uuid,
    supervisor_id uuid,
    deposit_received_by uuid,
    deposit_amount numeric(12,2)
);


--
-- Name: stock_movements; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.stock_movements (
    id uuid NOT NULL,
    product_id uuid NOT NULL,
    warehouse_id uuid NOT NULL,
    movement_type public.movement_type_enum NOT NULL,
    qty numeric(12,3) NOT NULL,
    unit_cost numeric(12,2) NOT NULL,
    unit_price numeric(12,2) NOT NULL,
    ref_id uuid,
    ref_type character varying(32),
    note text,
    created_by uuid,
    created_at timestamp with time zone DEFAULT now() NOT NULL
);


--
-- Name: store_settings; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.store_settings (
    key character varying(64) NOT NULL,
    value text NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL
);


--
-- Name: subcategories; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.subcategories (
    id uuid NOT NULL,
    category_id uuid NOT NULL,
    name character varying(128) NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL
);


--
-- Name: supplier_transactions; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.supplier_transactions (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    supplier_id uuid NOT NULL,
    amount numeric(14,2) NOT NULL,
    type text NOT NULL,
    reference_doc text,
    notes text,
    created_at timestamp with time zone DEFAULT now(),
    CONSTRAINT supplier_transactions_type_check CHECK ((type = ANY (ARRAY['debit'::text, 'credit'::text])))
);


--
-- Name: suppliers; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.suppliers (
    id uuid NOT NULL,
    name character varying(128) NOT NULL,
    phone character varying(32),
    address text,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    type text DEFAULT 'supplier'::text NOT NULL,
    balance numeric(14,2) DEFAULT 0 NOT NULL,
    notes text
);


--
-- Name: users; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.users (
    id uuid NOT NULL,
    username character varying(64) NOT NULL,
    full_name character varying(128) NOT NULL,
    role character varying(32) NOT NULL,
    password_hash character varying(256) NOT NULL,
    is_active boolean NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL,
    permissions jsonb DEFAULT '["pos", "inventory", "reports", "archive", "settings"]'::jsonb,
    is_manager boolean DEFAULT false NOT NULL,
    default_warehouse_id uuid
);


--
-- Name: wallet_transactions; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.wallet_transactions (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    wallet_id uuid NOT NULL,
    amount numeric(14,2) NOT NULL,
    tx_type text NOT NULL,
    ref_id uuid,
    note text,
    created_by uuid,
    created_at timestamp with time zone DEFAULT now()
);


--
-- Name: warehouse_product_status; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.warehouse_product_status (
    warehouse_id uuid NOT NULL,
    product_id uuid NOT NULL,
    status text DEFAULT 'untracked'::text NOT NULL
);


--
-- Name: warehouses; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.warehouses (
    id uuid NOT NULL,
    code character varying(32) NOT NULL,
    name character varying(128) NOT NULL,
    is_active boolean NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    warehouse_type character varying(20) DEFAULT 'warehouse'::character varying NOT NULL
);


--
-- Data for Name: archived_documents; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: audit_log; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.audit_log (id, entity_type, entity_id, action, user_id, user_name, changes, note, created_at) FROM stdin;
\.


--
-- Data for Name: categories; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: collection_items; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: customer_payments; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: customers; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.customers (id, name, phone, address, is_cash, created_at, balance) FROM stdin;
ea70b37f-e40d-4d13-a014-52ed6cc34d9e	╪┤╪▒┘â╪ر ╪د┘┘┘è┘ ┘┘╪ز╪ش╪د╪▒╪ر	01012345678	\N	f	2026-03-26 00:07:36.965671+00	0.00
9338ff3f-c554-4648-9965-0b49d68aa7db	╪┤╪▒┘â╪ر ╪د┘╪د╪«╪ز╪ذ╪د╪▒	\N	\N	f	2026-03-26 09:51:42.641516+00	25.00
d5b26988-5de6-44bb-8761-7a0963be4ad3	╪د╪ذ┘ê ╪┤┘ç╪د╪ذ	054656465	\N	f	2026-04-09 17:04:50.565889+00	150.00
973fbcf1-c2b3-450e-8584-a63cf0885350	╪د╪ذ┘ê ┘è┘ê╪│┘	010757557554	\N	f	2026-03-26 04:02:34.168886+00	1400.00
\.


--
-- Data for Name: drawer_transactions; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: employees; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.employees (id, user_id, full_name, national_id, phone, base_salary, hire_date, is_active, created_at) FROM stdin;
\.


--
-- Data for Name: financial_categories; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.financial_categories (id, name, type, color, created_at) FROM stdin;
\.


--
-- Data for Name: hr_advances; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: hr_attendance; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: hr_audit_log; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.hr_audit_log (id, action_type, entity_type, entity_id, performed_by, reason, details, created_at) FROM stdin;
\.


--
-- Data for Name: hr_employees; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: hr_payroll; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: hr_settings; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.hr_settings (key, value) FROM stdin;
apply_missing_checkout_penalty	False
device_host	192.168.1.201
device_port	4370
device_timeout	5
\.


--
-- Data for Name: hr_shifts; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.hr_shifts (id, name, start_time, end_time, description) FROM stdin;
1769691570	9 ╪╡╪ذ╪د╪ص╪د ╪د┘┘ë 9 ┘à╪│╪د╪ة┘ï	09:00	21:00	
1769691623	9 ╪╡╪ذ╪د╪ص╪د┘ï ╪د┘┘ë 5 ┘à╪│╪د╪ة┘ï	09:00	17:00	
1769691649	11 ╪╡╪ذ╪د╪ص╪د┘ï ╪د┘┘ë 11 ┘à╪│╪د╪ة┘ï	11:00	23:00	
1769691680	1 ┘à╪│╪د╪ة┘ï ╪د┘┘ë 9 ┘à╪│╪د╪ة┘ï	13:00	21:00	
1769691772	3 ┘à╪│╪د╪ة┘ï ╪د┘┘ë 11 ┘à╪│╪د╪ة┘ï	15:00	23:00	
1769850410	4 ┘à╪│╪د╪ة┘ï ╪د┘┘ë 11 ┘à╪│╪د╪ة┘ï	16:00	23:00	
1769858164	9 ╪╡╪ذ╪د╪ص╪د┘ ╪د┘┘ë 4 ┘à╪│╪د╪ة┘ï	09:00	16:00	
\.


--
-- Data for Name: hr_sync_log; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: payment_wallets; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: payroll_entries; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.payroll_entries (id, period_id, employee_id, base_salary, bonuses, deductions, notes) FROM stdin;
\.


--
-- Data for Name: payroll_periods; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.payroll_periods (id, month, year, status, created_by, created_at) FROM stdin;
\.


--
-- Data for Name: product_collections; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.product_collections (id, name, description, retail_price, wholesale_price, is_active, created_at) FROM stdin;
b933c689-75e2-426d-9cb2-a7729c8f0679	╪╖┘é┘à ╪«┘╪د╪╖ ╪▒┘ê┘â╪د		0.00	0.00	t	2026-04-11 16:55:49.217525+00
5c5959cf-c559-4737-b478-ff20a99508dc	╪╖┘é┘à ╪ذ┘╪د┘è╪د ╪د┘è╪»┘è╪د┘		8500.00	0.00	t	2026-04-11 17:11:42.047162+00
\.


--
-- Data for Name: products; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: purchase_order_items; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.purchase_order_items (id, po_id, product_id, qty_ordered, qty_received, unit_cost, notes) FROM stdin;
13d4341d-4721-4547-b4d7-3498c6eb5650	362b6e0d-4f17-4662-875b-1e63005a2d44	c8b78e53-a457-4b32-8897-c449f3fe1e4f	5.000	5.000	10.00	\N
\.


--
-- Data for Name: purchase_orders; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.purchase_orders (id, po_number, supplier_id, warehouse_id, created_by, status, notes, created_at, received_at, amount_paid, received_by_name, invoice_image_url) FROM stdin;
362b6e0d-4f17-4662-875b-1e63005a2d44	PO-001004	\N	59a2b8d7-e26b-4979-ae0e-3984f1b711b2	f00d039c-caa7-5b00-adba-365ed90c5f10	received	\N	2026-03-30 03:47:08.364144+00	2026-03-30 04:16:19.209469+00	0.00	\N	/uploads/po_362b6e0d-4f17-4662-875b-1e63005a2d44.png
\.


--
-- Data for Name: purchase_price_history; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.purchase_price_history (id, product_id, po_id, supplier_id, old_cost, new_cost, created_at) FROM stdin;
8cc754cb-b7d8-4294-b054-bbe98a5dae81	c8b78e53-a457-4b32-8897-c449f3fe1e4f	362b6e0d-4f17-4662-875b-1e63005a2d44	\N	15.50	10.00	2026-03-30 04:16:18.96905+00
\.


--
-- Data for Name: safe_deposits; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: safe_transactions; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: safes; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.safes (id, name, location, balance, is_active, created_at, safe_type) FROM stdin;
c49a5a41-1db4-4541-a899-a99b2e40da56	╪«╪▓┘╪ر ╪د┘╪╣╪ذ┘ê╪▒	┘à╪╣╪▒╪╢ ╪د┘╪╣╪ذ┘ê╪▒	0.00	t	2026-03-31 16:12:22.734709+00	permanent
b4d0abe6-580f-4725-9a44-01bf7f86062e	╪«╪▓┘╪ر ┘à╪╣╪▒╪╢ ╪د┘┘à╪ج┘à┘	┘à╪╣╪▒╪╢ ╪د┘┘à╪ج┘à┘	3180.00	t	2026-03-31 16:12:22.734709+00	permanent
5a157f4c-4d31-4e3c-93f2-a66e81b44f45	╪د┘╪«╪▓┘╪ر ╪د┘╪▒╪خ┘è╪│┘è╪ر	╪د┘┘à┘â╪ز╪ذ ╪د┘╪▒╪خ┘è╪│┘è	31124.00	t	2026-03-31 16:12:22.734709+00	permanent
\.


--
-- Data for Name: sale_items; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: sales; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: shifts; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: stock_movements; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: store_settings; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: subcategories; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: supplier_transactions; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.supplier_transactions (id, supplier_id, amount, type, reference_doc, notes, created_at) FROM stdin;
\.


--
-- Data for Name: suppliers; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.suppliers (id, name, phone, address, created_at, type, balance, notes) FROM stdin;
0774fa50-1be1-41db-af04-bc156d47c49b	┘à┘ê╪▒╪» ╪ز╪ش╪▒┘è╪ذ┘è	01000000000	\N	2026-03-28 13:41:08.477311+00	supplier	0.00	\N
\.


--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: wallet_transactions; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.wallet_transactions (id, wallet_id, amount, tx_type, ref_id, note, created_by, created_at) FROM stdin;
cc79792b-2e4c-4dd1-a38c-3fc94522d1c2	8168ea3e-3935-477f-a412-9184f9188885	685.00	sale	d007be7b-6a2f-47a2-87fd-41493daf268b	╪ذ┘è╪╣ INV-001060	85ba0e1f-040c-44b2-90a3-0afcaa30178b	2026-04-09 17:39:33.67449+00
\.


--
-- Data for Name: warehouse_product_status; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: warehouses; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Name: dispatch_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.dispatch_seq', 1001, true);


--
-- Name: invoice_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.invoice_seq', 1087, true);


--
-- Name: purchase_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.purchase_seq', 1004, true);


--
-- Name: quotation_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.quotation_seq', 1001, true);


--
-- Name: archived_documents archived_documents_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.archived_documents
    ADD CONSTRAINT archived_documents_pkey PRIMARY KEY (id);


--
-- Name: audit_log audit_log_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.audit_log
    ADD CONSTRAINT audit_log_pkey PRIMARY KEY (id);


--
-- Name: categories categories_name_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.categories
    ADD CONSTRAINT categories_name_key UNIQUE (name);


--
-- Name: categories categories_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.categories
    ADD CONSTRAINT categories_pkey PRIMARY KEY (id);


--
-- Name: collection_items collection_items_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.collection_items
    ADD CONSTRAINT collection_items_pkey PRIMARY KEY (id);


--
-- Name: customer_payments customer_payments_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.customer_payments
    ADD CONSTRAINT customer_payments_pkey PRIMARY KEY (id);


--
-- Name: customers customers_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.customers
    ADD CONSTRAINT customers_pkey PRIMARY KEY (id);


--
-- Name: drawer_transactions drawer_transactions_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.drawer_transactions
    ADD CONSTRAINT drawer_transactions_pkey PRIMARY KEY (id);


--
-- Name: employees employees_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.employees
    ADD CONSTRAINT employees_pkey PRIMARY KEY (id);


--
-- Name: financial_categories financial_categories_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.financial_categories
    ADD CONSTRAINT financial_categories_pkey PRIMARY KEY (id);


--
-- Name: hr_advances hr_advances_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.hr_advances
    ADD CONSTRAINT hr_advances_pkey PRIMARY KEY (id);


--
-- Name: hr_attendance hr_attendance_employee_id_work_date_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.hr_attendance
    ADD CONSTRAINT hr_attendance_employee_id_work_date_key UNIQUE (employee_id, work_date);


--
-- Name: hr_attendance hr_attendance_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.hr_attendance
    ADD CONSTRAINT hr_attendance_pkey PRIMARY KEY (id);


--
-- Name: hr_audit_log hr_audit_log_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.hr_audit_log
    ADD CONSTRAINT hr_audit_log_pkey PRIMARY KEY (id);


--
-- Name: hr_employees hr_employees_emp_code_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.hr_employees
    ADD CONSTRAINT hr_employees_emp_code_key UNIQUE (emp_code);


--
-- Name: hr_employees hr_employees_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.hr_employees
    ADD CONSTRAINT hr_employees_pkey PRIMARY KEY (id);


--
-- Name: hr_payroll hr_payroll_employee_id_month_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.hr_payroll
    ADD CONSTRAINT hr_payroll_employee_id_month_key UNIQUE (employee_id, month);


--
-- Name: hr_payroll hr_payroll_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.hr_payroll
    ADD CONSTRAINT hr_payroll_pkey PRIMARY KEY (id);


--
-- Name: hr_settings hr_settings_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.hr_settings
    ADD CONSTRAINT hr_settings_pkey PRIMARY KEY (key);


--
-- Name: hr_shifts hr_shifts_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.hr_shifts
    ADD CONSTRAINT hr_shifts_pkey PRIMARY KEY (id);


--
-- Name: hr_sync_log hr_sync_log_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.hr_sync_log
    ADD CONSTRAINT hr_sync_log_pkey PRIMARY KEY (id);


--
-- Name: payment_wallets payment_wallets_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.payment_wallets
    ADD CONSTRAINT payment_wallets_pkey PRIMARY KEY (id);


--
-- Name: payroll_entries payroll_entries_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.payroll_entries
    ADD CONSTRAINT payroll_entries_pkey PRIMARY KEY (id);


--
-- Name: payroll_periods payroll_periods_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.payroll_periods
    ADD CONSTRAINT payroll_periods_pkey PRIMARY KEY (id);


--
-- Name: product_collections product_collections_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.product_collections
    ADD CONSTRAINT product_collections_pkey PRIMARY KEY (id);


--
-- Name: products products_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.products
    ADD CONSTRAINT products_pkey PRIMARY KEY (id);


--
-- Name: purchase_order_items purchase_order_items_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.purchase_order_items
    ADD CONSTRAINT purchase_order_items_pkey PRIMARY KEY (id);


--
-- Name: purchase_orders purchase_orders_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.purchase_orders
    ADD CONSTRAINT purchase_orders_pkey PRIMARY KEY (id);


--
-- Name: purchase_orders purchase_orders_po_number_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.purchase_orders
    ADD CONSTRAINT purchase_orders_po_number_key UNIQUE (po_number);


--
-- Name: purchase_price_history purchase_price_history_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.purchase_price_history
    ADD CONSTRAINT purchase_price_history_pkey PRIMARY KEY (id);


--
-- Name: safe_deposits safe_deposits_doc_number_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.safe_deposits
    ADD CONSTRAINT safe_deposits_doc_number_key UNIQUE (doc_number);


--
-- Name: safe_deposits safe_deposits_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.safe_deposits
    ADD CONSTRAINT safe_deposits_pkey PRIMARY KEY (id);


--
-- Name: safe_transactions safe_transactions_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.safe_transactions
    ADD CONSTRAINT safe_transactions_pkey PRIMARY KEY (id);


--
-- Name: safes safes_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.safes
    ADD CONSTRAINT safes_pkey PRIMARY KEY (id);


--
-- Name: sale_items sale_items_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.sale_items
    ADD CONSTRAINT sale_items_pkey PRIMARY KEY (id);


--
-- Name: sales sales_invoice_number_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.sales
    ADD CONSTRAINT sales_invoice_number_key UNIQUE (invoice_number);


--
-- Name: sales sales_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.sales
    ADD CONSTRAINT sales_pkey PRIMARY KEY (id);


--
-- Name: shifts shifts_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.shifts
    ADD CONSTRAINT shifts_pkey PRIMARY KEY (id);


--
-- Name: stock_movements stock_movements_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.stock_movements
    ADD CONSTRAINT stock_movements_pkey PRIMARY KEY (id);


--
-- Name: store_settings store_settings_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.store_settings
    ADD CONSTRAINT store_settings_pkey PRIMARY KEY (key);


--
-- Name: subcategories subcategories_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.subcategories
    ADD CONSTRAINT subcategories_pkey PRIMARY KEY (id);


--
-- Name: supplier_transactions supplier_transactions_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.supplier_transactions
    ADD CONSTRAINT supplier_transactions_pkey PRIMARY KEY (id);


--
-- Name: suppliers suppliers_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.suppliers
    ADD CONSTRAINT suppliers_pkey PRIMARY KEY (id);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: users users_username_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_username_key UNIQUE (username);


--
-- Name: wallet_transactions wallet_transactions_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.wallet_transactions
    ADD CONSTRAINT wallet_transactions_pkey PRIMARY KEY (id);


--
-- Name: warehouse_product_status warehouse_product_status_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.warehouse_product_status
    ADD CONSTRAINT warehouse_product_status_pkey PRIMARY KEY (warehouse_id, product_id);


--
-- Name: warehouses warehouses_code_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.warehouses
    ADD CONSTRAINT warehouses_code_key UNIQUE (code);


--
-- Name: warehouses warehouses_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.warehouses
    ADD CONSTRAINT warehouses_pkey PRIMARY KEY (id);


--
-- Name: idx_audit_created; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_audit_created ON public.audit_log USING btree (created_at DESC);


--
-- Name: idx_audit_entity; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_audit_entity ON public.audit_log USING btree (entity_type, entity_id);


--
-- Name: idx_audit_user; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_audit_user ON public.audit_log USING btree (user_id);


--
-- Name: idx_collection_items_collection; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_collection_items_collection ON public.collection_items USING btree (collection_id);


--
-- Name: idx_pph_product; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_pph_product ON public.purchase_price_history USING btree (product_id);


--
-- Name: idx_sup_tx_supplier; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_sup_tx_supplier ON public.supplier_transactions USING btree (supplier_id);


--
-- Name: idx_wallet_tx_wallet; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_wallet_tx_wallet ON public.wallet_transactions USING btree (wallet_id);


--
-- Name: ix_archived_documents_created_at; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_archived_documents_created_at ON public.archived_documents USING btree (created_at);


--
-- Name: ix_archived_documents_doc_type; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_archived_documents_doc_type ON public.archived_documents USING btree (doc_type);


--
-- Name: ix_archived_documents_ref_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_archived_documents_ref_id ON public.archived_documents USING btree (ref_id);


--
-- Name: ix_customer_payments_customer_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_customer_payments_customer_id ON public.customer_payments USING btree (customer_id);


--
-- Name: ix_drawer_transactions_shift_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_drawer_transactions_shift_id ON public.drawer_transactions USING btree (shift_id);


--
-- Name: ix_products_barcode; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_products_barcode ON public.products USING btree (barcode);


--
-- Name: ix_sale_items_product_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_sale_items_product_id ON public.sale_items USING btree (product_id);


--
-- Name: ix_sale_items_sale_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_sale_items_sale_id ON public.sale_items USING btree (sale_id);


--
-- Name: ix_sales_cashier_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_sales_cashier_id ON public.sales USING btree (cashier_id);


--
-- Name: ix_sales_created_at; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_sales_created_at ON public.sales USING btree (created_at);


--
-- Name: ix_sales_customer_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_sales_customer_id ON public.sales USING btree (customer_id);


--
-- Name: ix_sales_shift_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_sales_shift_id ON public.sales USING btree (shift_id);


--
-- Name: ix_stock_movements_created_at; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_stock_movements_created_at ON public.stock_movements USING btree (created_at);


--
-- Name: ix_stock_movements_product_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_stock_movements_product_id ON public.stock_movements USING btree (product_id);


--
-- Name: ix_stock_movements_ref_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_stock_movements_ref_id ON public.stock_movements USING btree (ref_id);


--
-- Name: ix_stock_movements_warehouse_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_stock_movements_warehouse_id ON public.stock_movements USING btree (warehouse_id);


--
-- Name: archived_documents archived_documents_created_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.archived_documents
    ADD CONSTRAINT archived_documents_created_by_fkey FOREIGN KEY (created_by) REFERENCES public.users(id) ON DELETE SET NULL;


--
-- Name: audit_log audit_log_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.audit_log
    ADD CONSTRAINT audit_log_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE SET NULL;


--
-- Name: collection_items collection_items_collection_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.collection_items
    ADD CONSTRAINT collection_items_collection_id_fkey FOREIGN KEY (collection_id) REFERENCES public.product_collections(id) ON DELETE CASCADE;


--
-- Name: collection_items collection_items_product_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.collection_items
    ADD CONSTRAINT collection_items_product_id_fkey FOREIGN KEY (product_id) REFERENCES public.products(id);


--
-- Name: customer_payments customer_payments_created_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.customer_payments
    ADD CONSTRAINT customer_payments_created_by_fkey FOREIGN KEY (created_by) REFERENCES public.users(id);


--
-- Name: customer_payments customer_payments_customer_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.customer_payments
    ADD CONSTRAINT customer_payments_customer_id_fkey FOREIGN KEY (customer_id) REFERENCES public.customers(id) ON DELETE CASCADE;


--
-- Name: drawer_transactions drawer_transactions_category_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.drawer_transactions
    ADD CONSTRAINT drawer_transactions_category_id_fkey FOREIGN KEY (category_id) REFERENCES public.financial_categories(id);


--
-- Name: drawer_transactions drawer_transactions_created_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.drawer_transactions
    ADD CONSTRAINT drawer_transactions_created_by_fkey FOREIGN KEY (created_by) REFERENCES public.users(id);


--
-- Name: drawer_transactions drawer_transactions_shift_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.drawer_transactions
    ADD CONSTRAINT drawer_transactions_shift_id_fkey FOREIGN KEY (shift_id) REFERENCES public.shifts(id) ON DELETE CASCADE;


--
-- Name: drawer_transactions drawer_transactions_wallet_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.drawer_transactions
    ADD CONSTRAINT drawer_transactions_wallet_id_fkey FOREIGN KEY (wallet_id) REFERENCES public.payment_wallets(id) ON DELETE SET NULL;


--
-- Name: employees employees_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.employees
    ADD CONSTRAINT employees_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE SET NULL;


--
-- Name: hr_advances hr_advances_created_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.hr_advances
    ADD CONSTRAINT hr_advances_created_by_fkey FOREIGN KEY (created_by) REFERENCES public.users(id);


--
-- Name: hr_advances hr_advances_employee_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.hr_advances
    ADD CONSTRAINT hr_advances_employee_id_fkey FOREIGN KEY (employee_id) REFERENCES public.hr_employees(id);


--
-- Name: hr_attendance hr_attendance_employee_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.hr_attendance
    ADD CONSTRAINT hr_attendance_employee_id_fkey FOREIGN KEY (employee_id) REFERENCES public.hr_employees(id) ON DELETE CASCADE;


--
-- Name: hr_audit_log hr_audit_log_performed_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.hr_audit_log
    ADD CONSTRAINT hr_audit_log_performed_by_fkey FOREIGN KEY (performed_by) REFERENCES public.users(id);


--
-- Name: hr_employees hr_employees_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.hr_employees
    ADD CONSTRAINT hr_employees_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE SET NULL;


--
-- Name: hr_payroll hr_payroll_created_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.hr_payroll
    ADD CONSTRAINT hr_payroll_created_by_fkey FOREIGN KEY (created_by) REFERENCES public.users(id);


--
-- Name: hr_payroll hr_payroll_employee_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.hr_payroll
    ADD CONSTRAINT hr_payroll_employee_id_fkey FOREIGN KEY (employee_id) REFERENCES public.hr_employees(id);


--
-- Name: payroll_entries payroll_entries_employee_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.payroll_entries
    ADD CONSTRAINT payroll_entries_employee_id_fkey FOREIGN KEY (employee_id) REFERENCES public.employees(id);


--
-- Name: payroll_entries payroll_entries_period_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.payroll_entries
    ADD CONSTRAINT payroll_entries_period_id_fkey FOREIGN KEY (period_id) REFERENCES public.payroll_periods(id) ON DELETE CASCADE;


--
-- Name: payroll_periods payroll_periods_created_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.payroll_periods
    ADD CONSTRAINT payroll_periods_created_by_fkey FOREIGN KEY (created_by) REFERENCES public.users(id);


--
-- Name: products products_subcategory_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.products
    ADD CONSTRAINT products_subcategory_id_fkey FOREIGN KEY (subcategory_id) REFERENCES public.subcategories(id) ON DELETE RESTRICT;


--
-- Name: purchase_order_items purchase_order_items_po_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.purchase_order_items
    ADD CONSTRAINT purchase_order_items_po_id_fkey FOREIGN KEY (po_id) REFERENCES public.purchase_orders(id) ON DELETE CASCADE;


--
-- Name: purchase_order_items purchase_order_items_product_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.purchase_order_items
    ADD CONSTRAINT purchase_order_items_product_id_fkey FOREIGN KEY (product_id) REFERENCES public.products(id) ON DELETE RESTRICT;


--
-- Name: purchase_orders purchase_orders_created_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.purchase_orders
    ADD CONSTRAINT purchase_orders_created_by_fkey FOREIGN KEY (created_by) REFERENCES public.users(id);


--
-- Name: purchase_orders purchase_orders_supplier_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.purchase_orders
    ADD CONSTRAINT purchase_orders_supplier_id_fkey FOREIGN KEY (supplier_id) REFERENCES public.suppliers(id) ON DELETE SET NULL;


--
-- Name: purchase_orders purchase_orders_warehouse_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.purchase_orders
    ADD CONSTRAINT purchase_orders_warehouse_id_fkey FOREIGN KEY (warehouse_id) REFERENCES public.warehouses(id);


--
-- Name: purchase_price_history purchase_price_history_po_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.purchase_price_history
    ADD CONSTRAINT purchase_price_history_po_id_fkey FOREIGN KEY (po_id) REFERENCES public.purchase_orders(id) ON DELETE SET NULL;


--
-- Name: purchase_price_history purchase_price_history_product_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.purchase_price_history
    ADD CONSTRAINT purchase_price_history_product_id_fkey FOREIGN KEY (product_id) REFERENCES public.products(id) ON DELETE CASCADE;


--
-- Name: purchase_price_history purchase_price_history_supplier_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.purchase_price_history
    ADD CONSTRAINT purchase_price_history_supplier_id_fkey FOREIGN KEY (supplier_id) REFERENCES public.suppliers(id) ON DELETE SET NULL;


--
-- Name: safe_deposits safe_deposits_deposited_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.safe_deposits
    ADD CONSTRAINT safe_deposits_deposited_by_fkey FOREIGN KEY (deposited_by) REFERENCES public.users(id) ON DELETE SET NULL;


--
-- Name: safe_deposits safe_deposits_received_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.safe_deposits
    ADD CONSTRAINT safe_deposits_received_by_fkey FOREIGN KEY (received_by) REFERENCES public.users(id) ON DELETE SET NULL;


--
-- Name: safe_deposits safe_deposits_safe_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.safe_deposits
    ADD CONSTRAINT safe_deposits_safe_id_fkey FOREIGN KEY (safe_id) REFERENCES public.safes(id);


--
-- Name: safe_deposits safe_deposits_shift_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.safe_deposits
    ADD CONSTRAINT safe_deposits_shift_id_fkey FOREIGN KEY (shift_id) REFERENCES public.shifts(id) ON DELETE SET NULL;


--
-- Name: safe_deposits safe_deposits_warehouse_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.safe_deposits
    ADD CONSTRAINT safe_deposits_warehouse_id_fkey FOREIGN KEY (warehouse_id) REFERENCES public.warehouses(id) ON DELETE SET NULL;


--
-- Name: safe_transactions safe_transactions_safe_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.safe_transactions
    ADD CONSTRAINT safe_transactions_safe_id_fkey FOREIGN KEY (safe_id) REFERENCES public.safes(id);


--
-- Name: sale_items sale_items_product_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.sale_items
    ADD CONSTRAINT sale_items_product_id_fkey FOREIGN KEY (product_id) REFERENCES public.products(id) ON DELETE RESTRICT;


--
-- Name: sale_items sale_items_sale_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.sale_items
    ADD CONSTRAINT sale_items_sale_id_fkey FOREIGN KEY (sale_id) REFERENCES public.sales(id) ON DELETE CASCADE;


--
-- Name: sales sales_cashier_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.sales
    ADD CONSTRAINT sales_cashier_id_fkey FOREIGN KEY (cashier_id) REFERENCES public.users(id);


--
-- Name: sales sales_created_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.sales
    ADD CONSTRAINT sales_created_by_fkey FOREIGN KEY (created_by) REFERENCES public.users(id) ON DELETE SET NULL;


--
-- Name: sales sales_customer_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.sales
    ADD CONSTRAINT sales_customer_id_fkey FOREIGN KEY (customer_id) REFERENCES public.customers(id) ON DELETE SET NULL;


--
-- Name: sales sales_shift_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.sales
    ADD CONSTRAINT sales_shift_id_fkey FOREIGN KEY (shift_id) REFERENCES public.shifts(id);


--
-- Name: sales sales_wallet_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.sales
    ADD CONSTRAINT sales_wallet_id_fkey FOREIGN KEY (wallet_id) REFERENCES public.payment_wallets(id) ON DELETE SET NULL;


--
-- Name: sales sales_warehouse_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.sales
    ADD CONSTRAINT sales_warehouse_id_fkey FOREIGN KEY (warehouse_id) REFERENCES public.warehouses(id);


--
-- Name: shifts shifts_cashier_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.shifts
    ADD CONSTRAINT shifts_cashier_id_fkey FOREIGN KEY (cashier_id) REFERENCES public.users(id);


--
-- Name: shifts shifts_closed_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.shifts
    ADD CONSTRAINT shifts_closed_by_fkey FOREIGN KEY (closed_by) REFERENCES public.users(id);


--
-- Name: shifts shifts_deposit_received_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.shifts
    ADD CONSTRAINT shifts_deposit_received_by_fkey FOREIGN KEY (deposit_received_by) REFERENCES public.users(id);


--
-- Name: shifts shifts_supervisor_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.shifts
    ADD CONSTRAINT shifts_supervisor_id_fkey FOREIGN KEY (supervisor_id) REFERENCES public.users(id);


--
-- Name: shifts shifts_warehouse_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.shifts
    ADD CONSTRAINT shifts_warehouse_id_fkey FOREIGN KEY (warehouse_id) REFERENCES public.warehouses(id);


--
-- Name: stock_movements stock_movements_created_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.stock_movements
    ADD CONSTRAINT stock_movements_created_by_fkey FOREIGN KEY (created_by) REFERENCES public.users(id) ON DELETE SET NULL;


--
-- Name: stock_movements stock_movements_product_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.stock_movements
    ADD CONSTRAINT stock_movements_product_id_fkey FOREIGN KEY (product_id) REFERENCES public.products(id) ON DELETE RESTRICT;


--
-- Name: stock_movements stock_movements_warehouse_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.stock_movements
    ADD CONSTRAINT stock_movements_warehouse_id_fkey FOREIGN KEY (warehouse_id) REFERENCES public.warehouses(id) ON DELETE RESTRICT;


--
-- Name: subcategories subcategories_category_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.subcategories
    ADD CONSTRAINT subcategories_category_id_fkey FOREIGN KEY (category_id) REFERENCES public.categories(id) ON DELETE CASCADE;


--
-- Name: supplier_transactions supplier_transactions_supplier_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.supplier_transactions
    ADD CONSTRAINT supplier_transactions_supplier_id_fkey FOREIGN KEY (supplier_id) REFERENCES public.suppliers(id) ON DELETE CASCADE;


--
-- Name: users users_default_warehouse_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_default_warehouse_id_fkey FOREIGN KEY (default_warehouse_id) REFERENCES public.warehouses(id) ON DELETE SET NULL;


--
-- Name: wallet_transactions wallet_transactions_wallet_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.wallet_transactions
    ADD CONSTRAINT wallet_transactions_wallet_id_fkey FOREIGN KEY (wallet_id) REFERENCES public.payment_wallets(id);


--
-- Name: warehouse_product_status warehouse_product_status_product_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.warehouse_product_status
    ADD CONSTRAINT warehouse_product_status_product_id_fkey FOREIGN KEY (product_id) REFERENCES public.products(id) ON DELETE CASCADE;


--
-- Name: warehouse_product_status warehouse_product_status_warehouse_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.warehouse_product_status
    ADD CONSTRAINT warehouse_product_status_warehouse_id_fkey FOREIGN KEY (warehouse_id) REFERENCES public.warehouses(id) ON DELETE CASCADE;


--
-- PostgreSQL database dump complete
--

\unrestrict ZR7ntWjbVb7gMiqlwZU8Wlxs2pcVWRtjfe9PgDlopGHK2nIPCZ39CcOLDBY7ELs

